html {
    font-size: 12px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
}

input[type=button] {
    margin: 0;
    border: 1px solid #557B74;
    background: transparent;
}

input[type=button]:active {
    background-color: #557B74;
}

input[type=radio] {
    margin: 0;
}

div.bar {
    width: 100%;
    margin: 0;
    padding: 0;
}

#searchBar {
    background-color: #DDE5E3;
    white-space: nowrap;
    height: 4rem;
}

#logoContainer {
    display: inline-block;
    padding: 0;
    width: 15rem;
    height: 4rem;
    white-space: nowrap;
}

#logo {
    width: 100%;
    height: 100%;
    background-image: url(/img/gramene_logo_300.svg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

#searchContainer {
    display: inline-block;
    width: calc(100% - 15rem);
    vertical-align: top;
    white-space: nowrap;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

/*#searchForm {*/
/*border: 1px red;*/
/*}*/

input {
    font-size: 1em;
    vertical-align: middle;
}

.searchFormComponent {
    /*height: 2.4rem;*/
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top:0;
    margin-bottom:0;
    border: 1px solid #557B74;
    /*margin-top: 0.5rem;*/
    /*margin-bottom: 0.5rem;*/
}

#search {
    min-width: 10rem;
    width: calc(100% - 11.5rem);
    color: #547B74;
}

#speciesFilter {
    white-space: nowrap;
    background-color: #547B74;
    color: white;
    width: 10rem;
    margin: 0;
}

.filterControls {
    text-align: right;
    padding: 0 0.5rem;
}

#menu {
    border-bottom: 1px solid #DDE5E3;
    color: #557B74;
}

#types {
    margin-left: 15rem;
    display: inline-block;
}

#types ol {
    margin: 0;
    padding-top: 1rem;
    padding-left: 0;
}

#types ol li {
    display: inline-block;
    margin-right: 2rem;
    padding-bottom: 0.5rem;
}

#types ol li.active {
    border-bottom: 2px solid #557B74;
    font-weight: bolder;
}

body a {
    text-decoration: none;
    color: #557B74;
    cursor: pointer;
}

#toggleFiltersContainer {
    display: inline-block;
    padding-left: 1.67em;
    border-left: 1px solid #DDE5E3;
}

a.toggle {
    padding: 0.33rem;
    border: 1px solid white;
    cursor: pointer;
}

a.toggle:hover {
    border: 1px solid #DDE5E3;
}

a.toggle.active {
    border: 1px solid #557B74;
    background-color: #557B74;
    color: white;
}

#speciesDropdown {
    float: right;
    position: relative;
    z-index: 100;
    background-color: #DDE5E3;
    padding: 0.5rem;
}

input[disabled] + label {
    color: #BBBBBB;
}

input[disabled] ~ span.count {
    background-color: #CCCCCC;
    color: #DDE5E3;
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

#speciesDropdown ol {
    padding: 0.5rem;
}

#speciesDropdown li {
    padding: 0.2rem;
}

#speciesDropdown label {
    display: inline-block;
    vertical-align: middle;
    padding-right: 0.5rem;
}

span.count {
    background-color: #FECA7E;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.5rem;
    color: white;
    float:right;
}

#facets-top {
    height: 4rem;
    font-size: smaller;
    margin-left: 15rem;
    max-width: calc(100% - 15rem);
}

#facets-top ol {
    display: inline;
    margin: 0;
    padding-top: 0.5rem;
    padding-left: 0;
}

#facets-top ol li {
    display: inline-block;
    margin-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

#facets-left {
    min-width: 15rem;
    max-width: 15rem;
    display: inline-block;
    padding: 0;
}

#facets-left li {
    padding: 0.2rem;
}

#facets-left label {
    vertical-align: top;
    white-space: normal;
    display: inline-block;
    max-width: 11rem;
    padding-top: 0.1rem;
}

#items {
    vertical-align: top;
    padding: 0;
    max-width: calc(100% - 12rem);
    display: inline-block;
    white-space: nowrap;
}

#results {
    white-space: nowrap;
}
