<!doctype html>
<html>
<head>
    <title>Gramene Search</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/search.css" media="screen">
</head>
<body>
<div id="viewport">
    <div id="searchBar" class="bar">
        <div id="logoContainer">
            <a href="index.html">
                <div id="logo"></div>
            </a>
        </div><div id="searchContainer">
            <form id="searchForm">
                <input id="search" class="searchFormComponent" type="text" autofocus
                        /><input id="speciesFilter" class="searchFormComponent" type="button" name="submit"
                                 value="All Species"/>
                <div id="speciesDropdown" style="display: none;"></div>
                <script id="speciesDropdownT" type="text/template">
                    <ol>
                        <li><input type="radio" name="species" id="speciesAll" data-facet="taxon_id" data-facet-id="ALL" checked />
                        <label for="speciesAll">All</label>
                        <!--<span class="count"></span>--></li>
                        <% for(var i = 0; i < ids.length; i++) {
                            var species = data[ids[i]];
                        %>
                        <li><input type="radio" name="species" id="species<%=ids[i]%>" data-facet="taxon_id" data-facet-id="<%= ids[i] %>" <% if(species.count === 0) { %>disabled<% } %> />
                            <label for="species<%=ids[i]%>"><%= species.name_s %></label>
                            <span class="count"><%= species.count %></span>
                            </li>
                    <% } %></ol>
                </script>
            </form>
        </div>

    </div>
    <div id="results">
        <div id="menu" class="bar">
            <div id="types">
                <ol>
                    <li class="active"><a>Genes</a></li>
                    <li><a>Markers</a></li>
                    <li><a>Ontologies</a></li>
                    <li><a>Domains</a></li>
                    <li><a>Location</a></li>
                </ol>
            </div>
            <div id="toggleFiltersContainer">
                <a class="toggle" id="toggleFilters" role="button">Filter</a>
            </div>
        </div>
        <div id="facets-top" class="bar"></div>
        <script id="facets-topT" type="text/template">
            <ol style="display: none;">
                <% for(var filterName in filters) {
                    var filter = filters[filterName];
                    if(filter.displayName !== 'Species') { %>
                <li><a class="toggle" data-filter="<%= filterName %>"><%= filter.displayName %></a></li>
                <% } } %>
            </ol>
        </script>
        <div id="resultsBody">
            <div id="facets-left"></div>
            <script id="facets-leftT" type="text/template">
                <form id="filterForm" style="display: none;">
                <% for(var filterName in filters) {
                    var filter = filters[filterName];
                    if(filter.displayName !== 'Species') { %>
                <div style="display: none;" data-filter="<%= filterName %>">
                    <h4><%= filter.displayName %></h4>
                    <ol>
                        <li><input type="radio" name="<%= filterName %>" id="<%= filterName %>All" data-facet="<%= filterName %>" data-facet-id="ALL" checked />
                            <label for="speciesAll">All</label>
                            <!--<span class="count"></span>--></li>
                        <% for(var i = 0; i < filter.ids.length; i++) {
                        var id = filter.ids[i]
                          , filterItem = filter.data[id];
                        if(filterItem.count > 0) { // TODO FIX HACK HERE. We are filtering items in the collection that have no results.
                        %>
                        <li><input type="radio" name="<%= filterName %>" id="<%= filterName %><%=id%>" data-facet="<%= filterName %>" data-facet-id="<%= id %>" <% if(filterItem.count === 0) { %>disabled<% } %> />
                            <label for="<%= filterName %><%=id%>"><%= filterItem.name_s %></label>
                            <span class="count"><%= filterItem.count %></span></li>
                        <% } } %>
                    </ol>
                </div>
                <% } } %>
                </form>
            </script>
            <div id="items"></div>
            <script id="itemsT" type="text/template">
                <% for(var i = 0; i < docs.length; i++) {
                  var doc = docs[i]; %>
                    <h3><%= doc.name %> <span><%= doc.species %></span> <% if(doc.gene_id !== doc.name) { %><span><%= doc.gene_id %></span><% } %></h3>
                    <p><%= doc.description %></p>
                    <a href="blah">GeneTree</a>
                <% } %>
            </script>
        </div>
    </div>
</div>
<script src="js/bundle.js"></script>
</body>
</html>