<!doctype html>
<html>
<head>
    <title>Gramene Search</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/search.css" media="screen">
</head>
<body>
<div id="viewport">
    <div id="searchBar" class="bar">
        <div id="logoContainer">
            <a href="index.html">
                <div id="logo"></div>
            </a>
        </div><div id="searchContainer">
            <form id="searchForm">
                <input id="search" class="searchFormComponent" type="text" autofocus placeholder='Search for genes, e.g. "PAD4", "alcohol dehydrogenase"'
                        /><input id="speciesFilter" class="searchFormComponent" type="button" name="submit" />
                <div id="speciesDropdown" style="display: none;"></div>
                <script id="speciesDropdownT" type="text/template">
                    <ol>
                        <li><input type="radio" name="species" id="speciesAll" data-facet="taxon_id" data-facet-id="ALL" checked />
                        <label for="speciesAll">All Species</label>
                        <!--<span class="count"></span>--></li>
                        <% for(var i = 0; i < ids.length; i++) {
                            var species = data[ids[i]];
                        %>
                        <li><input type="radio" name="species" id="species<%=ids[i]%>" data-facet="taxon_id" data-facet-id="<%= ids[i] %>" <% if(species.count === 0) { %>disabled<% } %> />
                            <label for="species<%=ids[i]%>"><%= species.name_s %></label>
                            <span class="count"><%= species.count %></span>
                            </li>
                    <% } %></ol>
                </script>
            </form>
        </div>

    </div>
    <div id="results">
        <div id="menu" class="bar">
            <div id="types">
                <ol>
                    <li class="active"><a>Genes</a></li>
                    <li><a>Markers</a></li>
                    <li><a>Ontologies</a></li>
                    <li><a>Domains</a></li>
                    <li><a>Location</a></li>
                </ol>
            </div>
            <div class="barItem">
                <a class="toggle" id="toggleFilters" role="button">Filter</a>
            </div><div class="barItem" id="resultsStats"></div>
            <script id="resultsStatsT" type="text/template">
                <% if(counts.results > 0) { %>
                  <%= counts.results %> results in <a id="genomeCountLink"><%= counts.species %> genomes</a>.
                <% } %>
            </script>
        </div>
        <div id="facets-top" class="bar"></div>
        <script id="facets-topT" type="text/template">
            <ol style="display: none;">
                <% for(var filterName in filters) {
                    var filter = filters[filterName];
                    if(filter.displayName !== 'Species') { %>
                <li><a class="toggle" data-filter="<%= filterName %>"><%= filter.displayName %></a></li>
                <% } } %>
            </ol>
        </script>
        <div id="resultsBody">
            <div id="facets-left"></div>
            <script id="facets-leftT" type="text/template">
                <form id="filterForm" style="display: none;">
                <% for(var filterName in filters) {
                    var filter = filters[filterName];
                    if(filter.displayName !== 'Species') { %>
                <div style="display: none;" data-filter="<%= filterName %>">
                    <h4><%= filter.displayName %></h4>
                    <ol>
                        <li><input type="radio" name="<%= filterName %>" id="<%= filterName %>All" data-facet="<%= filterName %>" data-facet-id="ALL" checked />
                            <label for="speciesAll">All</label>
                            <!--<span class="count"></span>--></li>
                        <% for(var i = 0; i < filter.ids.length; i++) {
                        var id = filter.ids[i]
                          , filterItem = filter.data[id];
                        if(filterItem.count > 0) { // TODO FIX HACK HERE. We are filtering items in the collection that have no results.
                        %>
                        <li><input type="radio" name="<%= filterName %>" id="<%= filterName %><%=id%>" data-facet="<%= filterName %>" data-facet-id="<%= id %>" <% if(filterItem.count === 0) { %>disabled<% } %> />
                            <label for="<%= filterName %><%=id%>"><%= filterItem.name_s %></label>
                            <span class="count"><%= filterItem.count %></span></li>
                        <% } } %>
                    </ol>
                </div>
                <% } } %>
                </form>
            </script>
            <div id="items"></div>
            <script id="itemsT" type="text/template">
                <% for(var i = 0; i < docs.length; i++) {
                  var doc = docs[i]; %>
                    <div class="item">
                        <a><h3><span class="id"><%- doc.name %></span> <span class="species"><%= doc.species %></span> <% if(doc.id !== doc.name) { %><span class="altId"><%= doc.id %></span><% } %></h3></a>
                        <p><%- doc.description %></p>
                        <ol data-doc-id="<%=doc.id %>" class="inlineLinks">
                            <li><a href="<%= doc.geneUrl %>" title="<%= doc.map %>, <%= doc.region.match(/^\d+$/) ? 'Chr ' + doc.region : doc.region %> from <%= doc.start%> to <%= doc.end %>">Genome Location</a></li>
                            <li><a href="<%= doc.eplGenetreeUrl %>">Gene Tree</a></li>
                            <li>[<a data-doc-id="<%=doc.id %>" class="expandInlineLinks">More</a>]</li>
                        </ol>
                        <ol data-doc-id="<%=doc.id %>" class="inlineLinks" style="display:none;">
                            <li><a>Genome Location</a>
                                <p>
                                    <%= doc.map %>, <%= doc.region.match(/^\d+$/) ? 'Chr ' + doc.region : doc.region %>
                                    from <%= doc.start%> to <%= doc.end %>
                                </p>
                            </li>
                            <li><a>Gene Tree</a>
                                <% if(doc.eg_gene_tree || doc.epl_gene_tree) { %>
                                <ul>
                                    <% if(doc.eg_gene_tree) { %>
                                    <li><%= doc.eg_gene_tree %></li>
                                    <% }
                                       if(doc.epl_gene_tree) { %>
                                    <li><%= doc.epl_gene_tree %></li>
                                    <% } %>
                                </ul>
                                <% } %>
                            </li>
                            <li><a>Experimental Data</a><p>Yeast-2-hybrid, RNAseq, ChIPseq</p></li>
                            <li><a>Predictions</a><p>expression, localization, function</p></li>
                            <li><a>Structure</a><p>PDB structural data</p></li>
                            <li><a>Networks</a><p>Regulatory, metabolic or interaction network data</p></li>
                        </ol>
                    </div>
                <% } %>
            </script>
        </div>
    </div>
</div>
<script src="js/bundle.js"></script>
</body>
</html>